/*resets css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial,sans-serif;
    
}
#header-nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 150px;
    z-index: 999;
    border-bottom: 1px solid rgb(235, 221, 221);
    overflow: initial !important;
    display: flex;
    position: relative;
    background: rgb(243, 239, 239);
}
#header-nav .font {
    font-weight: 600;
    color: rgb(15, 19, 18);
    text-shadow: 1px 2px 2px rgb(218, 15, 49);
    font-size: 23px;
    margin-left: 50px;
}
#header-nav .icon {
   color: hsl(0, 8%, 47%);
   font-size: 25px;
   
}
#header-nav .box {
    padding: 0 25px 0 25px;
    background-color: #f5f5f5;
    margin-left: 32px;
    border-radius: 30%;
}
#header-nav .box:hover {
    color: rgb(192, 37, 37);
    background: #ccc;
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-left: 38px;
}
.container-1 input#search{
    width: 300px;
    height: 50px;
    background:  #f5f5f5;
    border: none;
    font-size: 10pt;
    float: left;
    color: #2378cc;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    font-weight: 500;
    z-index: 1;
    color: #306ca0;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ccc;
 }
#header-nav img {
    height: 20px;
    margin-left: 300px;
    margin-top: 13px;
}
#header-nav .icon-sub {
    margin-left: 14px;
}
#header-nav .vnd {
    margin-left: 30px;
}
#header-nav .vnd h3 {
    font-weight: 300;
    color: #757575;
}
#header-nav .item {
    margin-left: 5px;
}
#header-nav .sell {
    width: 400px;
}
#header-nav .sell .Dangky {
    background: #f5f5f5;
    margin-top: -49px;
    margin-left: 133px;
    border-radius: 100px;
    color: rgb(101, 31, 192) solid 1px;
    height: 48px;
}
#header-nav .sell .Dangky:hover {
    background: rgb(106, 85, 202);
}
#header-nav .sell h4 {
    color: black;
    margin-top: -50px;
    margin-right: 17px;
    margin-left: 40px;
}
#header-nav .item {
    padding: 0 3px;
}
  
#header-nav a {
    text-decoration: none;
    margin-left: 30px;
}
#slider{
    padding-top: 26%;
    margin-top: 0px;
    position: relative;
    background: url('assets.css/img/slider/pudong.jpg') top center / cover no-repeat;
 }
#slider .text-content {
     position: absolute;
     bottom: 280px;
     color: rgb(101, 31, 192);
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
     font-size: 20px;
 }
#siler .text-heading {
     margin-bottom: 25px;
 }
.mid-big {
    height: 100px;
    background: #fff;
    
}
.mid-big .mid {
    height: 100px;
    background: #f5f7fa;
    float: left;
    
}
section{
    justify-content: center;
    width: 100%;
    margin-top: 43px;

}
.mid-big{
    width: 80%;
    margin: 0 auto;
}
.mid-big .mid {
    width: 12.3333%;
    border-radius: 5px;
    margin-right: 30px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.mid-big .mid:hover {
    
    background: #f0dcdc;
}
.mid-big .content {
    padding: 12px 53px;
    font-size: 30px;
    color: cornflowerblue;
}
.mid-big .sub-mid {
    text-align: center;
    font-size :15px;
    color: rgb(54, 155, 180);
}
section  .sub-nav {
   text-decoration: none;
}
/* main */
.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin-top: 20px;
}
.main h1 {
    font-size: 30px;
    font-weight: 550;
}
.main .shanghai3 img  {
    padding-top: 20px;
    width: 100%;
    height: 400px;
}
.main .text-content {
    position: absolute;
    bottom: -320px;
    color:rgb(247, 246, 244);
    padding : 5px 30px;
}
/* dichvu */
.places-list {
    margin: 32px 193px;
    padding-bottom: 80px;
    width: 100%;
    
}
.places-item {
    padding: 0 8px;
    float: left;
}
.place-img {
     width: 270px;
     height: 230px;
     display: block;
}
.place-img:hover {
      opacity: 0.6;
}
.place-body {
     background-color: #fff;
     font-size: 15px;
     padding:0 16px;
     width: 271px;
     border:#ccc solid 1px;
     height: 220px;

}
.place-heading {
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
}
.place-time {
     margin-top: 15px;
     color: #757575;
}
.place-dec {
      margin-top: 15px;
      line-height: 1.4;
}
.place-buy-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}
.place-buy-btn:hover {
    color:  #000;
    background-color: #ccc;
    bottom: 0;
}